.k-pdf-export .resume-root {
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
}

.k-pdf-export .resume-root .resume-page {
  transform: scale(1);
  margin: 0;
}

.k-pdf-export .resume-root ul {
  list-style: none;
}

.k-pdf-export .resume-root ul > li > span > img {
  display: inline;
}

.k-pdf-export .resume-root .santa-hat {
  display: none;
}

.k-pdf-export .resume-root .readable-url {
  display: none;
}

.k-pdf-export .resume-root .verbose-url {
  display: inline;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  src: url("../fonts/PTSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  src: url("../fonts/PTSansItalic.ttf") format("truetype");
}
