.filters {
  transition: transform 0.5s, max-height 0.85s, opacity 0.5s ease-in;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  transform-origin: top;
  transform: scaleY(1);
  max-height: 200px;
  opacity: 1;
}

.filters.hide {
  transition: transform 0.75s 0.05s, max-height 0.70s, opacity 0.5s ease-out;
  transform: scaleY(0);
  max-height: 0px;
  opacity: 0;
}